body {
  width: 70%;
  margin: 0px auto !important;
  padding: 30px;
}

.title_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
}

#main_title {
  font-weight: 900;
  margin: 20px 0;
  font-size: 40px;
}

.btn > a {
  color: #fff;
}

.btn > a:hover {
  color: #fff;
}

a {
  text-decoration: none !important;
}

.main_container {
  padding: 10px;
  padding-left: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 480px;
}

.welcome {
  color: #444444 !important;
  font-weight: 700;
  margin: 20px 0;
  font-size: 40px;
}

.form_container {
  margin-top: 50px;
  padding: 20px;
  background-color: #0d6efd;
  border-radius: 7px;
}

.sub_container {
  background-color: #fff;
  padding: 10px;
}

.sub_container_1 {
  background-color: #fff;
  padding: 10px;
  margin-top: 20px;
}

.view_add {
  color: #fff !important;
  font-size: 20px;
}

.content_container {
  margin: 0;
}

.login_title {
  color: #fff;
  text-align: start;
}

form {
  margin-top: 60px;
}

.sub_form {
  width: 40%;
  margin: 0 auto;
}

.sub_form_1 {
  width: 50%;
  margin: 0 auto;
}

.sub_form_2 {
  width: 43%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

#register_form{
  margin-top: 0;
}

.form_container_1 {
  margin-top: 40px;
  padding: 20px;
  background-color: #0d6efd;
  border-radius: 7px;
}

body{
  margin-bottom: 0 !important;
}

.add_category{
  width: 250px;
  margin-left: 10px;
  padding-left: 10px;
}
